/* Основные стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #444; 
    color: #fff;
    padding: 20px 0;
    border-radius: 0 0 15px 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* тень */
    text-align: center; /* Отцентрирование */
}

header h1 {
    margin: 0 auto;
    font-size: 24px;
}

.nav {
    margin-top: 20px;
}

.nav ul {
    padding: 0;
    list-style-type: none;
    display: inline-block;
    margin: 0;
}

.nav ul li {
    display: inline; 
    /* margin: 0 10px;  */
}

.nav ul li a {
    display: inline-block;
    background-color: #007bff; /* Синий цвет фона для кнопок */
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px; /* Небольшой отступ между кнопками */
    border-radius: 5px; /* Скругляем углы */
    transition: background-color 0.3s, transform 0.3s; /* Эффекты при наведении */
}

.nav ul li a:hover, .nav ul li a:focus {
    background-color: #003366;
    color: #ffffff;
}

/* Стили для основного контента */
.main-content {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.info-container, .photo-container, .column {
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-container {
    flex: 2;
}

.content-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.info-and-columns {
    display: flex;
    flex-direction: column;
    flex: 3; /* Занимает большую часть пространства */
}

.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    margin-right: 20px;
    flex: 1;
}

.column:last-child {
    margin-right: 0;
}

.photo-container {
    flex: 1; /* Занимает меньшую часть пространства */
    max-width: 300px;
    padding: 20px;
}

.photo-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .info-and-columns, .photo-container {
        width: 100%;
        max-width: 600px;
    }

    .columns {
        flex-direction: column;
    }
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    border-radius: 10px 10px 0 0; 
}

footer a {
    color: #aad4ff; 
    text-decoration: none;
    transition: color 0.3s ease-in-out; /* Плавный переход цвета */
}

footer a:hover, footer a:focus {
    color: #ffffff; /* Белый цвет при наведении и фокусе */
    text-decoration: underline; /* Подчеркивание для улучшения видимости */
}

/* дизайним форму обратной связи */

.form-feedback {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-feedback h2 {
    text-align: center;
    color: #0056b3;
}

.form-feedback label {
    display: block;
    margin-bottom: 5px;
}

.form-feedback input[type="text"],
.form-feedback input[type="email"],
.form-feedback select,
.form-feedback textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Убедитесь, что padding не увеличивает размер элемента */
}

.form-feedback button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-feedback button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Стили для чекбоксов и радиокнопок */
.form-feedback .checkbox-group,
.form-feedback .radio-group {
    margin-bottom: 20px;
}

.form-feedback input[type="checkbox"],
.form-feedback input[type="radio"] {
    margin-right: 10px;
}

/* Отступы для заголовков групп */
.form-feedback .checkbox-group h3,
.form-feedback .radio-group h3 {
    margin-top: 0;
}